 * {
     margin:0;
     font-family: arial;
     border:border-box;
 }  
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width:100px;
}
.logo{
    background-image: url("amazon-logo.png");
    background-size: cover;
    height:50px;
    width: 100%;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid rgb(208, 199, 199);
}
/** box2**/
.first-add{
    color:#cccccc ;
    font-size:0.85rem;
    margin-left: 20px;
}
.second-add{
    color:white ;
    font-size:1rem;
    font-weight: bold;
}
.add-icon{
    display: flex;
}
/** box3 **/
.nav-search{
    display: flex;
    height:40px;
    width:620px;
    border-radius: 5px;
    justify-content: space-evenly;
} 
.nav-search:hover{
    border:2px solid rgb(220, 141, 24);
}
.search-select{
    background-color: #e6e6e6;
    text-align: center;
    width:50px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    border:none;
    border-right:1px solid #e6e6e6 ;
} 
.search-input{
    width:100%;
    border:none;
    font-size: 1rem;
}  
.search-icon{
    width:50px;
    background-color: rgb(220, 141, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-size: 1.4rem;
    color: #0f1111;
}
/** box4 **/
span{
   font-size:0.80rem ;
}
.nav-second{
font-weight: bold;
}
/** box5 **/
span{
   font-size:0.80rem ;
}
.nav-second{
font-weight: bold;
}
/** box6**/
.nav-cart i{
    font-size:35px;
}
.nav-cart{
    display: flex;
}
#carts{
    margin-top:17px;
    font-weight: bold;
}
/** panel **/
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.panel-ops p{
    display: inline;
    margin-left:20px;
}
.panel-ops{
   width:70%;
   font-size:0.9rem;
}
.panel-deals{
   font-size:1rem;
   font-weight: 700;
}
/** hero section**/
.hero-section{
    background-image: url("hero-section.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: #fff ;
    color: #0f1111;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    width:90%;
    margin-bottom: 25px;
    font-size: 0.85rem;
}
.hero-msg a{
    color:#007185;
    font-weight: 500;
    text-decoration: underline;
}
.hero-msg a:hover{
    color: blue;
}
/** shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#222f3d;
}
.box{
    height:400px;
    border: 2px solid black;
    width: 23%;
   color: black;
   background-color: white;
   margin-top: 10px;
   border: none;
   padding:20px 0px 15px;
}
.box-img{
    height:300px; 
    background-size:cover;
    margin-top: 15px;
    margin-bottom:20px;
}
.box-content{
    margin-left:15px;
    margin-right:15px;
}
.box-content p{
    color:#007185 ;
}
/** Footer **/
footer{
    margin-top: 10px;
}
.foot-panel1{
    background-color:#37475a;
    color:white;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    
}
ul a{
    display: block;
    margin-top:10px;
    font-size: 0.85rem;
    color: #bcb6b6;
}
ul p{
    margin-top: 20px;
    font-weight: 0.95rem;
}
.foot-panel3{
    background-color: #232f3e;
    color:white;
    border-top:0.5px solid #bcb6b6;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon-logo.png");
    background-size: cover;
    height:50px;
    width: 100px;
}
.foot-panel4{
    height:80px;
    background-color: #121212;
    color:white;
}
.pages{ 
    font-size: 0.7rem;
    text-align: center;
    padding-top:20px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}



